.content {
  //   background-color:  burlywood;
  padding: 50px;

  .products {
    width: 900px;
    min-height: 50px;
    // background-color: coral;
    margin: 0 auto;

    .product {
      display: flex;
      //   align-items: center;
      justify-content: space-between;
      min-height: 50px;
      margin-bottom: 30px;

      .prod-image {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-color: red;
      }

      .prod-desc {
        width: 500px;
      }
    }
  }
}
